:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  color: var(--text-color, #312A4E) ;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #F3EFEC);
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

/* Шаг 2. Базовая настройка CSS-переменных и повторяющихся элементов */

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

/* Шаг 3. Стили заголовков */

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content__title {
  margin: 7% 0 2.5%;
  font-size: 30px;
  text-align: center;
}

.header {
  padding-block-start: 10%;
}

/* Шаг 4. Абзацы */

.content__text-block {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.content__paragraph:not(:last-child) {
  margin-block-end: 1.5em;
}

.content-link {
  color: currentColor; 
}

/* Шаг 5. Цитата и список */

.content__blockquote {
  align-self: center;
  margin-block-end: 1.5em;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: italic;
  line-height: 2;
  inline-size: 75%;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 0px;
  list-style: none;
}

.content__list-item {
  margin-inline-start: 40px;
}

.content__list-item::before {
  content: '';
  position: absolute;
  left: 15px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  background-image: url("../images/marker-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}

/* Шаг 6. Буквица */

.content__text-block_type_first-lettered .content__paragraph:first-letter {
  display: inline-block;
  margin-inline-end: 1px;
  padding: 0 4px;
  font-weight: 700;
  font-size: 30px;
  background-color: var(--accent-color);
}

/* Шаг 7. Изображение */

.content__figure {
  position: relative;
  inset-inline-end: 5vi;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 5vi * 2);
  margin-block: 7% auto;
}

.content__picture {
  inline-size: 100%;
}

.figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid currentColor;
  padding: 20px 0px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  inline-size: 100%;
}

/* Шаг 8. Карточка */

.content__card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  padding: 10px;
  color: currentColor;
  aspect-ratio: 4/3;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color);
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

/* Шаг 9. Логотип и переключатель тем */

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding-block: 20px;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
}

.header__theme-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__theme-button_is-active {
  position: relative;
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: 0px;
}

/* Шаг 10. Состояния */

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

/* Шаг 11. Подвал сайта */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 10%; /* отступ сверхку 10% от ширины */
  border-top: 1px solid currentColor;
  padding-block: 36px;
}

.footer__copyright {
  color: currentColor;
  font-size: 18px;
}

/* Шаг 12. Тёмная тема */

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-letter {
  border: 1px solid #B3B3B3;
}

.theme_dark .colored-text::after {
  background-image: url('../images/pattern.svg');
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url('../images/pattern.svg');
}

.theme_dark .content__list-item::before {
  background-image: url('../images/marker-dark.svg');
}
